<ion-header>
  <ion-toolbar>
    <ion-title> Favoritos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <h1>Pokemons Favoritados</h1>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons" button [routerLink]="['/pokemon-details', pokemon.name]">
      <ion-thumbnail slot="start">
        <img [src]="pokemon.image" alt="{{pokemon.name}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{pokemon.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
